.btn {
    margin-top: 100px;
    margin-bottom: 20px;
}
nav {
    margin-bottom: 20px;
}

.modal-content p {
    color: black;
    margin: 0;
    padding: 0;
}
.modal-footer a {
    margin:0;
}

.modal-content {
    height: auto;
    
}


#preloader{
    margin: 30vh auto;
    width: 100px;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    
}

.preloader-wrapper{
    flex-shrink: 0;
}